.DS_Store
*.o
*.a
*.so
*.exe
*.test
*.pem
*.pipe
*.node
.jshintrc
package-lock.json
npm-debug.log
npm-debug.log.*
thumbs.db
fontawesome.all.min.css
device
Brypt Server/test/
Brypt Server/vendor/*/
Brypt Server/bin/
Brypt Desktop/dist/electron/*
Brypt Desktop/dist/web/*
Brypt Desktop/build/*
Brypt Desktop/bin/
Brypt Desktop/node_modules/
webfonts
!.gitkeep
!build/icons
